# Salin ke .env — jangan commit file .env

# Database — gunakan nama service Docker sebagai host (bukan localhost)
DATABASE_URL="postgresql://sipi_user:sipi_password@database:5432/sipi_db"

# JWT
JWT_SECRET="ganti_dengan_random_string_minimal_32_karakter"

# Server
PORT=4000
NODE_ENV=development

# CORS — origin frontend
FRONTEND_URL="http://localhost:3000"
